In [4]:
import pandas as pd

In [5]:
final_df = pd.read_csv('final_10.csv')
df = pd.read_csv('min_10_start_3700_end_4173_.csv')
df2 = pd.read_csv('pro_players_10min')
df3 = pd.read_csv('min_10_start_1500_end_1515_.csv')
df4 = pd.read_csv('new_extracted_data_chavez_time_10.csv')
df5 = pd.read_csv('new_extracted_data_Jared_time_10.csv')
df6 = pd.read_csv('new_extracted_data_smith_time_10.csv')
df7 = pd.read_csv('new_extracted_data_bryant_time_10.csv')

In [6]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

df = pd.concat([df, df3], axis=0, ignore_index=True)

df = pd.concat([df, df4], axis=0, ignore_index=True)

#df = df.drop(columns=['Unnamed: 0'])

In [7]:
df = pd.concat([df, df5], axis=0, ignore_index=True)

In [8]:
df = pd.concat([df, df6], axis=0, ignore_index=True)

In [9]:
df = pd.concat([df, df7], axis=0, ignore_index=True)

In [10]:
df = df.drop(columns=['Unnamed: 0'])

In [11]:
df = df.fillna(0)

In [12]:
df.drop_duplicates(inplace = True)

In [13]:
df.reset_index(inplace = True)

In [14]:
df = df.drop(columns = ['index'])

In [15]:
df

,airdragon_team100,airdragon_team200,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,...,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,baron_team200,hextechdragon_team100,waterdragon_team200
0,0.0,1.0,3.0,1.0,6.0,2.0,7.0,8.0,3.0,3.0,...,6278.0,5651.0,3669.0,5024.0,8457.0,6991.0,4355.0,0.0,0.0,0.0
1,0.0,3.0,2.0,6.0,1.0,0.0,2.0,0.0,4.0,2.0,...,6996.0,4891.0,6294.0,5946.0,7441.0,7216.0,6854.0,1.0,1.0,0.0
2,0.0,0.0,2.0,2.0,2.0,4.0,1.0,3.0,2.0,1.0,...,7447.0,5592.0,3879.0,6952.0,7269.0,6912.0,4729.0,0.0,1.0,0.0
3,0.0,0.0,4.0,7.0,4.0,8.0,1.0,5.0,2.0,12.0,...,6886.0,4756.0,3928.0,6378.0,7346.0,6593.0,6739.0,1.0,1.0,0.0
4,0.0,1.0,3.0,4.0,4.0,2.0,2.0,4.0,0.0,2.0,...,6126.0,5742.0,4099.0,6884.0,6053.0,5628.0,5376.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5223,0.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,2.0,...,5101.0,2512.0,3600.0,2952.0,4653.0,3180.0,2027.0,2.0,0.0,0.0
5224,0.0,1.0,4.0,0.0,3.0,2.0,2.0,2.0,0.0,0.0,...,4903.0,3531.0,2562.0,4223.0,3354.0,3688.0,2730.0,2.0,0.0,0.0
5225,0.0,1.0,3.0,4.0,1.0,1.0,0.0,7.0,0.0,4.0,...,4438.0,3871.0,3364.0,4057.0,4044.0,4994.0,3046.0,1.0,0.0,0.0
5226,0.0,0.0,1.0,4.0,1.0,1.0,2.0,0.0,0.0,1.0,...,4931.0,2615.0,2538.0,3494.0,3480.0,4133.0,3341.0,0.0,1.0,1.0
5227,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,...,2962.0,4611.0,2859.0,3637.0,3070.0,2617.0,4598.0,2.0,0.0,0.0

In [16]:
df.to_csv('final_10.csv')