In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('min_10_start_3700_end_4173_.csv')
df2 = pd.read_csv('pro_players_10min')
df3 = pd.read_csv('min_10_start_1500_end_1515_.csv')
df4 = pd.read_csv('new_extracted_data_chavez_time_10.csv')

In [4]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

df = pd.concat([df, df3], axis=0, ignore_index=True)

df = pd.concat([df, df4], axis=0, ignore_index=True)

df = df.drop(columns=['Unnamed: 0'])

In [6]:
df.to_csv('final_10.csv')

In [7]:
df

,airdragon_team100,airdragon_team200,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,...,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,baron_team200,hextechdragon_team100,waterdragon_team200
0,0.0,1.0,3.0,1.0,6.0,2.0,7.0,8.0,3.0,3.0,...,6278.0,5651.0,3669.0,5024.0,8457.0,6991.0,4355.0,NaN,NaN,NaN
1,0.0,3.0,2.0,6.0,1.0,0.0,2.0,0.0,4.0,2.0,...,6996.0,4891.0,6294.0,5946.0,7441.0,7216.0,6854.0,1.0,1.0,NaN
2,0.0,NaN,2.0,2.0,2.0,4.0,1.0,3.0,2.0,1.0,...,7447.0,5592.0,3879.0,6952.0,7269.0,6912.0,4729.0,NaN,1.0,NaN
3,0.0,NaN,4.0,7.0,4.0,8.0,1.0,5.0,2.0,12.0,...,6886.0,4756.0,3928.0,6378.0,7346.0,6593.0,6739.0,1.0,1.0,NaN
4,0.0,1.0,3.0,4.0,4.0,2.0,2.0,4.0,0.0,2.0,...,6126.0,5742.0,4099.0,6884.0,6053.0,5628.0,5376.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,1.0,NaN,0.0,4.0,2.0,0.0,3.0,6.0,1.0,1.0,...,4811.0,2591.0,3151.0,4454.0,3593.0,4294.0,2637.0,1.0,NaN,3.0
2435,0.0,NaN,1.0,0.0,2.0,3.0,2.0,9.0,0.0,0.0,...,3814.0,3479.0,2959.0,4603.0,3726.0,4021.0,1710.0,NaN,NaN,NaN
2436,0.0,1.0,0.0,2.0,0.0,1.0,1.0,0.0,1.0,0.0,...,5451.0,2665.0,2313.0,5600.0,3283.0,3614.0,3301.0,NaN,NaN,1.0
2437,1.0,NaN,2.0,5.0,4.0,1.0,4.0,5.0,2.0,4.0,...,3909.0,2318.0,2521.0,5694.0,3358.0,4037.0,3065.0,NaN,1.0,2.0
2438,0.0,NaN,1.0,1.0,0.0,3.0,2.0,0.0,2.0,1.0,...,4219.0,3574.0,2234.0,3360.0,2433.0,4164.0,3175.0,1.0,NaN,NaN