In [3]:
import pandas as pd

In [4]:
# CSV files
df = pd.read_csv('new_extracted_data_chavez_time_10.csv')
df1 = pd.read_csv('new_extracted_data_smith_time_10.csv')
df2 = pd.read_csv('new_extracted_data_bryant_time_10.csv')
df3 = pd.read_csv('new_extracted_data_everts_time_10.csv')
#df4 = pd.read_csv('')
#df5 = pd.read_csv('')
#df6 = pd.read_csv('')

In [5]:
df = pd.concat([df, df1], axis=0, ignore_index=True)

In [6]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

In [7]:
df = pd.concat([df, df3], axis=0, ignore_index=True)

In [9]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,chemtechdragon_team200,riftherald_team200,airdragon_team200,waterdragon_team200
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3033.0,2297.0,3978.0,3193.0,4131.0,2971.0,NaN,NaN,NaN,NaN
1,0.0,1.0,1.0,2.0,2.0,2.0,2.0,0.0,1.0,2.0,...,2907.0,2719.0,2691.0,3758.0,4331.0,3662.0,NaN,NaN,NaN,NaN
2,0.0,1.0,2.0,1.0,4.0,5.0,7.0,1.0,3.0,2.0,...,3192.0,3234.0,4260.0,3189.0,4858.0,2538.0,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,2921.0,2417.0,4801.0,4457.0,3837.0,2916.0,1.0,NaN,NaN,NaN
4,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,...,3005.0,2671.0,4865.0,3579.0,4496.0,2644.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5902,0.0,0.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,3119.0,2035.0,3824.0,3524.0,4566.0,3861.0,NaN,1.0,NaN,NaN
5903,0.0,0.0,2.0,2.0,0.0,2.0,3.0,1.0,2.0,1.0,...,3018.0,2202.0,4155.0,3277.0,4386.0,2894.0,NaN,NaN,NaN,1.0
5904,0.0,0.0,3.0,3.0,2.0,0.0,4.0,0.0,4.0,1.0,...,2358.0,2320.0,4676.0,2709.0,3899.0,3203.0,NaN,NaN,NaN,NaN
5905,0.0,1.0,2.0,0.0,0.0,3.0,1.0,0.0,4.0,0.0,...,3521.0,2119.0,4012.0,3276.0,4499.0,2546.0,NaN,1.0,1.0,NaN
5906,0.0,1.0,2.0,3.0,1.0,2.0,0.0,2.0,1.0,0.0,...,2948.0,2305.0,3468.0,2954.0,4017.0,2821.0,NaN,NaN,NaN,NaN

In [10]:
df.drop_duplicates(inplace = True)

In [12]:
df.reset_index(inplace = True)

In [14]:
df.drop(columns = ['index'],inplace = True)

In [15]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,chemtechdragon_team200,riftherald_team200,airdragon_team200,waterdragon_team200
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3033.0,2297.0,3978.0,3193.0,4131.0,2971.0,NaN,NaN,NaN,NaN
1,0.0,1.0,1.0,2.0,2.0,2.0,2.0,0.0,1.0,2.0,...,2907.0,2719.0,2691.0,3758.0,4331.0,3662.0,NaN,NaN,NaN,NaN
2,0.0,1.0,2.0,1.0,4.0,5.0,7.0,1.0,3.0,2.0,...,3192.0,3234.0,4260.0,3189.0,4858.0,2538.0,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,2921.0,2417.0,4801.0,4457.0,3837.0,2916.0,1.0,NaN,NaN,NaN
4,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,...,3005.0,2671.0,4865.0,3579.0,4496.0,2644.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4645,1.0,0.0,4.0,2.0,3.0,1.0,3.0,0.0,1.0,1.0,...,3070.0,2301.0,4189.0,3407.0,4908.0,3532.0,NaN,NaN,NaN,NaN
4646,0.0,2.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,2574.0,1976.0,4335.0,3923.0,4110.0,3434.0,NaN,NaN,NaN,NaN
4647,0.0,1.0,1.0,2.0,3.0,3.0,5.0,0.0,2.0,0.0,...,3504.0,2788.0,4417.0,4842.0,3482.0,2991.0,NaN,NaN,NaN,NaN
4648,0.0,0.0,3.0,2.0,1.0,2.0,5.0,1.0,2.0,1.0,...,3693.0,2012.0,4458.0,3242.0,4553.0,2912.0,NaN,NaN,NaN,NaN
4649,0.0,2.0,3.0,2.0,2.0,1.0,5.0,0.0,0.0,1.0,...,3535.0,2504.0,4963.0,3409.0,4357.0,3104.0,NaN,NaN,1.0,NaN

In [16]:
#df.to_csv("final_10.csv") # Nov 22 7:27pm (Chavez)

In [17]:
df.to_csv("final_10.csv") # Nov 23 10:12pm (vahle)