In [2]:
import pandas as pd

In [6]:
final_df = pd.read_csv('final_10.csv')
#df = pd.read_csv('min_10_start_3700_end_4173_.csv')
#df2 = pd.read_csv('pro_players_10min')
df3 = pd.read_csv('min_10_start_1500_end_1515_.csv')
df4 = pd.read_csv('new_extracted_data_chavez_time_10.csv')
df5 = pd.read_csv('new_extracted_data_Jared_time_10.csv')
df6 = pd.read_csv('new_extracted_data_smith_time_10.csv')
#df7 = pd.read_csv('')

In [7]:
#df = pd.concat([df, df2], axis=0, ignore_index=True)

#df = pd.concat([df, df3], axis=0, ignore_index=True)

#df = pd.concat([df, df4], axis=0, ignore_index=True)

#df = df.drop(columns=['Unnamed: 0'])

In [8]:
df = pd.concat([final_df, df5], axis=0, ignore_index=True)

In [9]:
df = pd.concat([df, df6], axis=0, ignore_index=True)

In [ ]:
#df = pd.concat([df, df7], axis=0, ignore_index=True)

In [11]:
df = df.drop(columns=['Unnamed: 0'])

In [12]:
df.to_csv('final_10.csv')

In [10]:
df

,Unnamed: 0,airdragon_team100,airdragon_team200,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,...,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,baron_team200,hextechdragon_team100,waterdragon_team200
0,0.0,0.0,1.0,3.0,1.0,6.0,2.0,7.0,8.0,3.0,...,6278.0,5651.0,3669.0,5024.0,8457.0,6991.0,4355.0,NaN,NaN,NaN
1,1.0,0.0,3.0,2.0,6.0,1.0,0.0,2.0,0.0,4.0,...,6996.0,4891.0,6294.0,5946.0,7441.0,7216.0,6854.0,1.0,1.0,NaN
2,2.0,0.0,NaN,2.0,2.0,2.0,4.0,1.0,3.0,2.0,...,7447.0,5592.0,3879.0,6952.0,7269.0,6912.0,4729.0,NaN,1.0,NaN
3,3.0,0.0,NaN,4.0,7.0,4.0,8.0,1.0,5.0,2.0,...,6886.0,4756.0,3928.0,6378.0,7346.0,6593.0,6739.0,1.0,1.0,NaN
4,4.0,0.0,1.0,3.0,4.0,4.0,2.0,2.0,4.0,0.0,...,6126.0,5742.0,4099.0,6884.0,6053.0,5628.0,5376.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,NaN,0.0,3.0,0.0,0.0,0.0,1.0,0.0,4.0,1.0,...,4544.0,3776.0,2772.0,3678.0,3596.0,4467.0,2449.0,1.0,NaN,1.0
5109,NaN,1.0,NaN,2.0,5.0,1.0,0.0,3.0,0.0,5.0,...,2931.0,5017.0,2565.0,3065.0,4661.0,3426.0,4070.0,NaN,NaN,NaN
5110,NaN,1.0,NaN,0.0,2.0,3.0,1.0,1.0,1.0,0.0,...,5097.0,2791.0,2609.0,5134.0,3465.0,4604.0,3019.0,1.0,NaN,NaN
5111,NaN,0.0,NaN,0.0,1.0,1.0,1.0,3.0,1.0,1.0,...,3707.0,3268.0,2476.0,4935.0,3595.0,5044.0,3175.0,1.0,NaN,NaN
5112,NaN,0.0,NaN,0.0,2.0,3.0,1.0,3.0,5.0,1.0,...,4725.0,3215.0,2869.0,3966.0,4138.0,2887.0,4316.0,NaN,NaN,NaN