In [19]:
import pandas as pd

In [20]:
# CSV files
df = pd.read_csv('new_extracted_data_chavez_time_10.csv')
df1 = pd.read_csv('new_extracted_data_smith_time_10.csv')
df2 = pd.read_csv('new_extracted_data_bryant_time_10.csv')
df3 = pd.read_csv('new_extracted_data_everts_time_10.csv')
df4 = pd.read_csv('new_extracted_data_Jared_time_10.csv')
#df5 = pd.read_csv('')
#df6 = pd.read_csv('')

In [21]:
df = pd.concat([df, df1], axis=0, ignore_index=True)

In [22]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

In [23]:
df = pd.concat([df, df3], axis=0, ignore_index=True)

In [24]:
df = pd.concat([df, df4], axis=0, ignore_index=True)

In [25]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,chemtechdragon_team200,riftherald_team200,airdragon_team200,waterdragon_team200
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3033.0,2297.0,3978.0,3193.0,4131.0,2971.0,NaN,NaN,NaN,NaN
1,0.0,1.0,1.0,2.0,2.0,2.0,2.0,0.0,1.0,2.0,...,2907.0,2719.0,2691.0,3758.0,4331.0,3662.0,NaN,NaN,NaN,NaN
2,0.0,1.0,2.0,1.0,4.0,5.0,7.0,1.0,3.0,2.0,...,3192.0,3234.0,4260.0,3189.0,4858.0,2538.0,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,2921.0,2417.0,4801.0,4457.0,3837.0,2916.0,1.0,NaN,NaN,NaN
4,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,...,3005.0,2671.0,4865.0,3579.0,4496.0,2644.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6325,0.0,1.0,1.0,2.0,2.0,1.0,4.0,0.0,1.0,2.0,...,3365.0,2670.0,4031.0,3851.0,2589.0,3621.0,NaN,NaN,NaN,NaN
6326,0.0,3.0,1.0,1.0,1.0,2.0,0.0,2.0,2.0,1.0,...,3119.0,4443.0,3667.0,4158.0,2940.0,3527.0,NaN,NaN,NaN,NaN
6327,0.0,2.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,2.0,...,4471.0,2958.0,4988.0,4474.0,2615.0,4185.0,NaN,NaN,NaN,NaN
6328,0.0,0.0,4.0,2.0,1.0,0.0,2.0,0.0,5.0,1.0,...,3347.0,1972.0,5326.0,2685.0,3750.0,3402.0,NaN,NaN,NaN,NaN
6329,0.0,1.0,8.0,3.0,1.0,1.0,3.0,2.0,10.0,2.0,...,4415.0,1867.0,4830.0,3613.0,4082.0,3786.0,NaN,NaN,NaN,NaN

In [26]:
df.drop_duplicates(inplace = True)

In [27]:
df.reset_index(inplace = True)

In [28]:
df.drop(columns = ['index'],inplace = True)

In [29]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,chemtechdragon_team200,riftherald_team200,airdragon_team200,waterdragon_team200
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3033.0,2297.0,3978.0,3193.0,4131.0,2971.0,NaN,NaN,NaN,NaN
1,0.0,1.0,1.0,2.0,2.0,2.0,2.0,0.0,1.0,2.0,...,2907.0,2719.0,2691.0,3758.0,4331.0,3662.0,NaN,NaN,NaN,NaN
2,0.0,1.0,2.0,1.0,4.0,5.0,7.0,1.0,3.0,2.0,...,3192.0,3234.0,4260.0,3189.0,4858.0,2538.0,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,2921.0,2417.0,4801.0,4457.0,3837.0,2916.0,1.0,NaN,NaN,NaN
4,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,...,3005.0,2671.0,4865.0,3579.0,4496.0,2644.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4858,0.0,1.0,1.0,2.0,2.0,1.0,4.0,0.0,1.0,2.0,...,3365.0,2670.0,4031.0,3851.0,2589.0,3621.0,NaN,NaN,NaN,NaN
4859,0.0,3.0,1.0,1.0,1.0,2.0,0.0,2.0,2.0,1.0,...,3119.0,4443.0,3667.0,4158.0,2940.0,3527.0,NaN,NaN,NaN,NaN
4860,0.0,2.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,2.0,...,4471.0,2958.0,4988.0,4474.0,2615.0,4185.0,NaN,NaN,NaN,NaN
4861,0.0,0.0,4.0,2.0,1.0,0.0,2.0,0.0,5.0,1.0,...,3347.0,1972.0,5326.0,2685.0,3750.0,3402.0,NaN,NaN,NaN,NaN
4862,0.0,1.0,8.0,3.0,1.0,1.0,3.0,2.0,10.0,2.0,...,4415.0,1867.0,4830.0,3613.0,4082.0,3786.0,NaN,NaN,NaN,NaN

In [30]:
#df.to_csv("final_10.csv") # Nov 22 7:27pm (Chavez)

In [31]:
df.to_csv("final_10.csv") # Nov 23 10:12pm (vahle)