In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split
import re
from acquire import extract
from prepare import prepare

In [10]:
timeline_data = pd.read_json('timeline_data_user_Xmithie_end_40.json')
other_game_data = pd.read_json('other_game_data_user_Xmithie_end_40.json')
timeline_data = timeline_data.to_dict(orient = 'records')
other_game_data = other_game_data.to_dict(orient = 'records')

In [11]:
df = extract(timeline_data, other_game_data, 15)

Skipping: 0 due to <15 min or not classic
Finished with: 1 of 9
Finished with: 2 of 9
Skipping: 3 due to <15 min or not classic
Skipping: 4 due to <15 min or not classic
Finished with: 5 of 9
Skipping: 6 due to <15 min or not classic
Skipping: 7 due to <15 min or not classic
Skipping: 8 due to <15 min or not classic
Skipping: 9 due to <15 min or not classic

In [12]:
train, test = prepare(df)

In [13]:
train

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,BlueTeamWards,RedTeamWards,BlueTeamAssists,RedTeamAssists,BlueTeamXp,RedTeamXp,BlueTeamTotalGoldDifference,RedTeamTotalGoldDifference,BlueTeamMVPKills,RedTeamMVPKills
1,1.0,0.0,3.0,0.0,0.0,4.0,6.0,0.0,1.0,1.0,...,51,495,10,7,30280,28208,2829,-2829,8.0,6.0
2,0.0,7.0,8.0,1.0,2.0,2.0,5.0,0.0,3.0,0.0,...,247,631,17,13,31673,30044,2149,-2149,8.0,6.0