In [11]:
import pandas as pd
from prepare import *

In [4]:
df1 = pd.read_csv('new_extracted_data_jared_time_5.csv')
df2 = pd.read_csv('new_extracted_data_jared_time_10.csv')
df3 = pd.read_csv('new_extracted_data_jared_time_15.csv')
df4 = pd.read_csv('new_extracted_data_jared_time_20.csv')

In [5]:
df = pd.concat([df1, df2], axis=0, ignore_index=True)

In [6]:
df = pd.concat([df, df3], axis=0, ignore_index=True)

In [7]:
df = pd.concat([df, df4], axis=0, ignore_index=True)

In [9]:
df.drop_duplicates()

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_6,xp_7,xp_8,xp_9,waterdragon_team200,hextechdragon_team100,riftherald_team200,airdragon_team200,chemtechdragon_team200,inhibs_lost_team100
0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,2.0,0.0,...,2080.0,1691.0,1886.0,1351.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,2007.0,1655.0,2079.0,1375.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,2.0,...,1688.0,1575.0,1819.0,303.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,1540.0,1512.0,1747.0,961.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,...,1539.0,1809.0,1567.0,1285.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,1.0,2.0,8.0,6.0,3.0,4.0,6.0,6.0,4.0,3.0,...,10631.0,9458.0,6582.0,8136.0,NaN,NaN,1.0,NaN,1.0,NaN
1688,1.0,6.0,9.0,4.0,6.0,7.0,0.0,6.0,3.0,5.0,...,8517.0,9953.0,7718.0,9506.0,NaN,NaN,NaN,NaN,NaN,NaN
1689,1.0,10.0,6.0,1.0,5.0,3.0,4.0,2.0,5.0,10.0,...,10382.0,9591.0,7506.0,8810.0,NaN,NaN,1.0,NaN,NaN,NaN
1690,0.0,1.0,16.0,3.0,1.0,1.0,7.0,7.0,14.0,3.0,...,11580.0,9195.0,7279.0,7973.0,NaN,1.0,1.0,1.0,NaN,NaN
1691,0.0,4.0,13.0,7.0,2.0,2.0,11.0,4.0,12.0,2.0,...,10181.0,8594.0,8903.0,8958.0,NaN,NaN,1.0,NaN,NaN,NaN

In [ ]:
df = clean(df)

In [ ]:
df