# Model New Data

In [1]:
import numpy as np
import pandas as pd
import acquire
import prepare
import model
from env import api_key

# Using Data At 10 Minute Timeframe

In [2]:
#Load final_10 csv file
data = pd.read_csv('../master10_csv/final_10.csv', index_col = [0])
data

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,chemtechdragon_team200,riftherald_team200,airdragon_team200,waterdragon_team200
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3033.0,2297.0,3978.0,3193.0,4131.0,2971.0,NaN,NaN,NaN,NaN
1,0.0,1.0,1.0,2.0,2.0,2.0,2.0,0.0,1.0,2.0,...,2907.0,2719.0,2691.0,3758.0,4331.0,3662.0,NaN,NaN,NaN,NaN
2,0.0,1.0,2.0,1.0,4.0,5.0,7.0,1.0,3.0,2.0,...,3192.0,3234.0,4260.0,3189.0,4858.0,2538.0,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,2921.0,2417.0,4801.0,4457.0,3837.0,2916.0,1.0,NaN,NaN,NaN
4,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0,...,3005.0,2671.0,4865.0,3579.0,4496.0,2644.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4858,0.0,1.0,1.0,2.0,2.0,1.0,4.0,0.0,1.0,2.0,...,3365.0,2670.0,4031.0,3851.0,2589.0,3621.0,NaN,NaN,NaN,NaN
4859,0.0,3.0,1.0,1.0,1.0,2.0,0.0,2.0,2.0,1.0,...,3119.0,4443.0,3667.0,4158.0,2940.0,3527.0,NaN,NaN,NaN,NaN
4860,0.0,2.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,2.0,...,4471.0,2958.0,4988.0,4474.0,2615.0,4185.0,NaN,NaN,NaN,NaN
4861,0.0,0.0,4.0,2.0,1.0,0.0,2.0,0.0,5.0,1.0,...,3347.0,1972.0,5326.0,2685.0,3750.0,3402.0,NaN,NaN,NaN,NaN
4862,0.0,1.0,8.0,3.0,1.0,1.0,3.0,2.0,10.0,2.0,...,4415.0,1867.0,4830.0,3613.0,4082.0,3786.0,NaN,NaN,NaN,NaN

In [3]:
data.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4863 entries, 0 to 4862
Data columns (total 196 columns):
 #    Column                            Dtype
---   ------                            -----
 0    airdragon_team100                 float64
 1    assistsplayer_1                   float64
 2    assistsplayer_10                  float64
 3    assistsplayer_2                   float64
 4    assistsplayer_3                   float64
 5    assistsplayer_4                   float64
 6    assistsplayer_5                   float64
 7    assistsplayer_6                   float64
 8    assistsplayer_7                   float64
 9    assistsplayer_8                   float64
 10   assistsplayer_9                   float64
 11   baron_team100                     float64
 12   chemtechdragon_team100            float64
 13   currentGold_1                     float64
 14   currentGold_10                    float64
 15   currentGold_2                     float64
 16   currentGold_3                     float64
 17   currentGold_4                     float64
 18   currentGold_5                     float64
 19   currentGold_6                     float64
 20   currentGold_7                     float64
 21   currentGold_8                     float64
 22   currentGold_9                     float64
 23   deathsplayer_1                    float64
 24   deathsplayer_10                   float64
 25   deathsplayer_2                    float64
 26   deathsplayer_3                    float64
 27   deathsplayer_4                    float64
 28   deathsplayer_5                    float64
 29   deathsplayer_6                    float64
 30   deathsplayer_7                    float64
 31   deathsplayer_8                    float64
 32   deathsplayer_9                    float64
 33   dragon_team100                    float64
 34   dragon_team200                    float64
 35   earthdragon_team100               float64
 36   earthdragon_team200               float64
 37   firedragon_team100                float64
 38   firedragon_team200                float64
 39   gameDuration                      int64
 40   gameEndTimestamp                  int64
 41   gameId                            int64
 42   gameMode                          object
 43   gameName                          object
 44   gameStartTimestamp                int64
 45   gameType                          object
 46   gameVersion                       object
 47   goldPerSecond_1                   float64
 48   goldPerSecond_10                  float64
 49   goldPerSecond_2                   float64
 50   goldPerSecond_3                   float64
 51   goldPerSecond_4                   float64
 52   goldPerSecond_5                   float64
 53   goldPerSecond_6                   float64
 54   goldPerSecond_7                   float64
 55   goldPerSecond_8                   float64
 56   goldPerSecond_9                   float64
 57   hextechdragon_team100             float64
 58   hextechdragon_team200             float64
 59   inhibs_lost_team200               float64
 60   jungleMinionsKilled_1             float64
 61   jungleMinionsKilled_10            float64
 62   jungleMinionsKilled_2             float64
 63   jungleMinionsKilled_3             float64
 64   jungleMinionsKilled_4             float64
 65   jungleMinionsKilled_5             float64
 66   jungleMinionsKilled_6             float64
 67   jungleMinionsKilled_7             float64
 68   jungleMinionsKilled_8             float64
 69   jungleMinionsKilled_9             float64
 70   killsplayer_0                     float64
 71   killsplayer_1                     float64
 72   killsplayer_10                    float64
 73   killsplayer_2                     float64
 74   killsplayer_3                     float64
 75   killsplayer_4                     float64
 76   killsplayer_5                     float64
 77   killsplayer_6                     float64
 78   killsplayer_7                     float64
 79   killsplayer_8                     float64
 80   killsplayer_9                     float64
 81   level_1                           float64
 82   level_10                          float64
 83   level_2                           float64
 84   level_3                           float64
 85   level_4                           float64
 86   level_5                           float64
 87   level_6                           float64
 88   level_7                           float64
 89   level_8                           float64
 90   level_9                           float64
 91   magicDamageDoneToChampions_1      float64
 92   magicDamageDoneToChampions_10     float64
 93   magicDamageDoneToChampions_2      float64
 94   magicDamageDoneToChampions_3      float64
 95   magicDamageDoneToChampions_4      float64
 96   magicDamageDoneToChampions_5      float64
 97   magicDamageDoneToChampions_6      float64
 98   magicDamageDoneToChampions_7      float64
 99   magicDamageDoneToChampions_8      float64
 100  magicDamageDoneToChampions_9      float64
 101  matchId                           object
 102  minionsKilled_1                   float64
 103  minionsKilled_10                  float64
 104  minionsKilled_2                   float64
 105  minionsKilled_3                   float64
 106  minionsKilled_4                   float64
 107  minionsKilled_5                   float64
 108  minionsKilled_6                   float64
 109  minionsKilled_7                   float64
 110  minionsKilled_8                   float64
 111  minionsKilled_9                   float64
 112  physicalDamageDoneToChampions_1   float64
 113  physicalDamageDoneToChampions_10  float64
 114  physicalDamageDoneToChampions_2   float64
 115  physicalDamageDoneToChampions_3   float64
 116  physicalDamageDoneToChampions_4   float64
 117  physicalDamageDoneToChampions_5   float64
 118  physicalDamageDoneToChampions_6   float64
 119  physicalDamageDoneToChampions_7   float64
 120  physicalDamageDoneToChampions_8   float64
 121  physicalDamageDoneToChampions_9   float64
 122  queueId                           int64
 123  riftherald_team100                float64
 124  riftherald_team300                float64
 125  timeEnemySpentControlled_1        float64
 126  timeEnemySpentControlled_10       float64
 127  timeEnemySpentControlled_2        float64
 128  timeEnemySpentControlled_3        float64
 129  timeEnemySpentControlled_4        float64
 130  timeEnemySpentControlled_5        float64
 131  timeEnemySpentControlled_6        float64
 132  timeEnemySpentControlled_7        float64
 133  timeEnemySpentControlled_8        float64
 134  timeEnemySpentControlled_9        float64
 135  time_cutoff                       float64
 136  timestamp                         float64
 137  totalDamageDoneToChampions_1      float64
 138  totalDamageDoneToChampions_10     float64
 139  totalDamageDoneToChampions_2      float64
 140  totalDamageDoneToChampions_3      float64
 141  totalDamageDoneToChampions_4      float64
 142  totalDamageDoneToChampions_5      float64
 143  totalDamageDoneToChampions_6      float64
 144  totalDamageDoneToChampions_7      float64
 145  totalDamageDoneToChampions_8      float64
 146  totalDamageDoneToChampions_9      float64
 147  totalGold_1                       float64
 148  totalGold_10                      float64
 149  totalGold_2                       float64
 150  totalGold_3                       float64
 151  totalGold_4                       float64
 152  totalGold_5                       float64
 153  totalGold_6                       float64
 154  totalGold_7                       float64
 155  totalGold_8                       float64
 156  totalGold_9                       float64
 157  towers_lost_team100               float64
 158  towers_lost_team200               float64
 159  trueDamageDoneToChampions_1       float64
 160  trueDamageDoneToChampions_10      float64
 161  trueDamageDoneToChampions_2       float64
 162  trueDamageDoneToChampions_3       float64
 163  trueDamageDoneToChampions_4       float64
 164  trueDamageDoneToChampions_5       float64
 165  trueDamageDoneToChampions_6       float64
 166  trueDamageDoneToChampions_7       float64
 167  trueDamageDoneToChampions_8       float64
 168  trueDamageDoneToChampions_9       float64
 169  ward_player_0                     float64
 170  ward_player_1                     float64
 171  ward_player_10                    float64
 172  ward_player_2                     float64
 173  ward_player_3                     float64
 174  ward_player_4                     float64
 175  ward_player_5                     float64
 176  ward_player_6                     float64
 177  ward_player_7                     float64
 178  ward_player_8                     float64
 179  ward_player_9                     float64
 180  waterdragon_team100               float64
 181  winningTeam                       float64
 182  xp_1                              float64
 183  xp_10                             float64
 184  xp_2                              float64
 185  xp_3                              float64
 186  xp_4                              float64
 187  xp_5                              float64
 188  xp_6                              float64
 189  xp_7                              float64
 190  xp_8                              float64
 191  xp_9                              float64
 192  chemtechdragon_team200            float64
 193  riftherald_team200                float64
 194  airdragon_team200                 float64
 195  waterdragon_team200               float64
dtypes: float64(186), int64(5), object(5)
memory usage: 7.3+ MB

In [4]:
#Now prepare it
train, test = prepare.prepare(data)
train.shape, test.shape

((3890, 265), (973, 265))

In [5]:
#Drop all columns that are categorical. They are not useful
cols_to_drop = train.select_dtypes('object').columns
cols_to_drop

Index(['gameMode', 'gameName', 'gameType', 'gameVersion', 'matchId'], dtype='object')

In [6]:
train = train.drop(columns = cols_to_drop)
test = test.drop(columns = cols_to_drop)

In [7]:
train.shape, test.shape

((3890, 260), (973, 260))

In [8]:
#Now separate it into X and y groups
X_train, y_train = train.drop(columns = ['winningTeam']), train.winningTeam
X_test, y_test = test.drop(columns = ['winningTeam']), train.winningTeam

In [9]:
#Create the dict of hyperparameters to optimize across
param_dict = {
    'max_depth': range(1, 16),
    'min_samples_leaf': range(1, 16)
}

In [13]:
#Now build the models
best_model = model.get_random_forest_models(X_train, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6344
Max Depth:  13
Min Samples Per Leaf:  14

In [14]:
#What were the most important features?
best_features = pd.DataFrame(best_model.feature_importances_, X_train.columns)
best_features.sort_values(by = 0, ascending = False).head(10)

                                          0
RedTeamTotalGoldDifference         0.043678
BlueTeamTotalGoldDifference        0.042757
RedTeamXp                          0.022739
RedTeamTotalGold                   0.021644
gameDuration                       0.019262
BlueTeamXp                         0.018272
BlueTeamTotalGold                  0.017611
RedTeamTotalDamageDoneToChampions  0.016600
totalGold_9                        0.011461
RedTeamKills                       0.011025

# Can We Remove Individual Stats and Maintain or Improve Model Accuracy?

In [20]:
#Only keep columns that have the word 'team' in their name
cols_to_keep = X_train.columns[X_train.columns.str.contains('Team')]
cols_to_keep

Index(['BlueTeamDeaths', 'RedTeamDeaths', 'BlueTeamGoldPerSec',
       'RedTeamGoldPerSec', 'BlueTeamJungleMinionsKilled',
       'RedTeamJungleMinionsKilled', 'BlueTeamKills', 'RedTeamKills',
       'BlueTeamLevel', 'RedTeamLevel', 'BlueTeamMagicDamageDoneToChampions',
       'RedTeamMagicDamageDoneToChampions', 'BlueTeamMinionsKilled',
       'RedTeamMinionsKilled', 'BlueTeamPhysicalDamageDoneToChampions',
       'RedTeamPhysicalDamageDoneToChampions',
       'BlueTeamTimeEnemySpentControlled', 'RedTeamTimeEnemySpentControlled',
       'BlueTeamTotalDamageDoneToChampions',
       'RedTeamTotalDamageDoneToChampions', 'BlueTeamTotalGold',
       'RedTeamTotalGold', 'BlueTeamTrueDamageDoneToChampions',
       'RedTeamTrueDamageDoneToChampions', 'BlueTeamWards', 'RedTeamWards',
       'BlueTeamAssists', 'RedTeamAssists', 'BlueTeamXp', 'RedTeamXp',
       'BlueTeamTotalGoldDifference', 'RedTeamTotalGoldDifference',
       'BlueTeamMVPKills', 'RedTeamMVPKills'],
      dtype='object')

In [22]:
X_train_team_data = X_train.loc[:, cols_to_keep]
X_train_team_data

,BlueTeamDeaths,RedTeamDeaths,BlueTeamGoldPerSec,RedTeamGoldPerSec,BlueTeamJungleMinionsKilled,RedTeamJungleMinionsKilled,BlueTeamKills,RedTeamKills,BlueTeamLevel,RedTeamLevel,...,BlueTeamWards,RedTeamWards,BlueTeamAssists,RedTeamAssists,BlueTeamXp,RedTeamXp,BlueTeamTotalGoldDifference,RedTeamTotalGoldDifference,BlueTeamMVPKills,RedTeamMVPKills
3513,4,8,30,20,54,44,8,4,36,30,...,35,208,9,2,17886,15180,1046,-1046,2.0,2.0
1250,3,6,20,30,60,52,6,3,35,33,...,14,12,9,5,18575,16532,1327,-1327,3.0,3.0
3532,3,10,30,30,64,52,10,3,37,34,...,19,14,5,3,21106,17694,4519,-4519,4.0,1.0
3858,9,12,20,20,56,64,12,9,35,34,...,29,16,9,11,18593,17114,1433,-1433,5.0,4.0
528,9,11,20,20,40,55,11,9,34,33,...,12,193,10,7,18305,17077,834,-834,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6,14,30,20,49,38,14,6,35,32,...,18,10,10,7,18275,15159,4619,-4619,5.0,2.0
4060,11,4,30,20,44,48,4,11,32,35,...,14,13,5,13,15977,18056,-2111,2111,2.0,4.0
1346,8,8,30,30,56,51,8,8,36,35,...,14,10,8,9,18739,17614,250,-250,4.0,6.0
3454,4,4,30,20,64,60,4,4,36,34,...,14,15,6,3,18604,18467,1594,-1594,2.0,3.0
3582,6,7,30,20,56,48,7,6,35,34,...,13,13,5,5,18301,17253,1977,-1977,3.0,3.0

In [24]:
#Build the models
best_model = model.get_random_forest_models(X_train_team_data, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6334
Max Depth:  8
Min Samples Per Leaf:  14

In [26]:
#What were the most important features?
best_features = pd.DataFrame(best_model.feature_importances_, X_train_team_data.columns)
best_features.sort_values(by = 0, ascending = False).head(10)

                                              0
RedTeamTotalGoldDifference             0.123389
BlueTeamTotalGoldDifference            0.117637
RedTeamXp                              0.054142
RedTeamTotalGold                       0.051500
BlueTeamXp                             0.051006
RedTeamTotalDamageDoneToChampions      0.048396
BlueTeamTotalGold                      0.046152
BlueTeamPhysicalDamageDoneToChampions  0.031445
BlueTeamTotalDamageDoneToChampions     0.030607
BlueTeamMagicDamageDoneToChampions     0.030401

# Can We Keep Only One Team's Data and Maintain or Improve Model Accuracy?

In [27]:
cols_to_keep = X_train_team_data.columns[X_train_team_data.columns.str.contains('Blue')]
cols_to_keep

Index(['BlueTeamDeaths', 'BlueTeamGoldPerSec', 'BlueTeamJungleMinionsKilled',
       'BlueTeamKills', 'BlueTeamLevel', 'BlueTeamMagicDamageDoneToChampions',
       'BlueTeamMinionsKilled', 'BlueTeamPhysicalDamageDoneToChampions',
       'BlueTeamTimeEnemySpentControlled',
       'BlueTeamTotalDamageDoneToChampions', 'BlueTeamTotalGold',
       'BlueTeamTrueDamageDoneToChampions', 'BlueTeamWards', 'BlueTeamAssists',
       'BlueTeamXp', 'BlueTeamTotalGoldDifference', 'BlueTeamMVPKills'],
      dtype='object')

In [28]:
X_train_blue_team = X_train_team_data.loc[:, cols_to_keep]
X_train_blue_team

,BlueTeamDeaths,BlueTeamGoldPerSec,BlueTeamJungleMinionsKilled,BlueTeamKills,BlueTeamLevel,BlueTeamMagicDamageDoneToChampions,BlueTeamMinionsKilled,BlueTeamPhysicalDamageDoneToChampions,BlueTeamTimeEnemySpentControlled,BlueTeamTotalDamageDoneToChampions,BlueTeamTotalGold,BlueTeamTrueDamageDoneToChampions,BlueTeamWards,BlueTeamAssists,BlueTeamXp,BlueTeamTotalGoldDifference,BlueTeamMVPKills
3513,4,30,54,8,36,4418,192,6593,401302,11500,16113,487,35,9,17886,1046,2.0
1250,3,20,60,6,35,3617,226,9274,355801,13729,16660,835,14,9,18575,1327,3.0
3532,3,30,64,10,37,2008,227,10075,334801,12518,19832,432,19,5,21106,4519,4.0
3858,9,20,56,12,35,6012,213,10534,351805,18813,18884,2262,29,9,18593,1433,5.0
528,9,20,40,11,34,7679,188,7935,231642,16812,17716,1197,12,10,18305,834,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6,30,49,14,35,7577,207,12252,408303,21641,19403,1809,18,10,18275,4619,5.0
4060,11,30,44,4,32,7488,172,5356,352066,14220,15704,1370,14,5,15977,-2111,2.0
1346,8,30,56,8,36,2395,183,9920,199400,12844,17589,526,14,8,18739,250,4.0
3454,4,30,64,4,36,3184,228,8200,398893,11385,16759,0,14,6,18604,1594,2.0
3582,6,30,56,7,35,7919,201,6080,593243,15436,16981,1434,13,5,18301,1977,3.0

In [29]:
#Build the models
best_model = model.get_random_forest_models(X_train_blue_team, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6252
Max Depth:  4
Min Samples Per Leaf:  14

In [31]:
y_train.value_counts(normalize = True)

200.0    0.518509
100.0    0.481491
Name: winningTeam, dtype: float64

In [32]:
#What were the most important features?
best_features = pd.DataFrame(best_model.feature_importances_, X_train_blue_team.columns)
best_features.sort_values(by = 0, ascending = False).head(10)

                                              0
BlueTeamTotalGoldDifference            0.348754
BlueTeamTotalGold                      0.133557
BlueTeamDeaths                         0.114156
BlueTeamXp                             0.108818
BlueTeamMinionsKilled                  0.045884
BlueTeamKills                          0.033393
BlueTeamTotalDamageDoneToChampions     0.031304
BlueTeamMagicDamageDoneToChampions     0.027262
BlueTeamAssists                        0.025697
BlueTeamPhysicalDamageDoneToChampions  0.024809

# Can We Only Use Individual Stats and Maintain or Improve Model Accuracy?

In [50]:
cols_to_keep = X_train.columns[(X_train.columns.str.contains('Team') == False)& (X_train.columns.str.contains('dragon') == False)]
cols_to_keep

Index(['assistsplayer_1', 'assistsplayer_10', 'assistsplayer_2',
       'assistsplayer_3', 'assistsplayer_4', 'assistsplayer_5',
       'assistsplayer_6', 'assistsplayer_7', 'assistsplayer_8',
       'assistsplayer_9',
       ...
       'xp_10', 'xp_2', 'xp_3', 'xp_4', 'xp_5', 'xp_6', 'xp_7', 'xp_8', 'xp_9',
       'riftherald_team200'],
      dtype='object', length=175)

In [52]:
X_train_players = X_train.loc[:, cols_to_keep]
X_train_players

,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,assistsplayer_9,...,xp_10,xp_2,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,riftherald_team200
3513,1.0,0.0,1.0,1.0,4.0,2.0,1.0,0.0,0.0,1.0,...,2699.0,3323.0,4350.0,3785.0,3204.0,1617.0,3805.0,5010.0,2049.0,0.0
1250,1.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,0.0,2.0,...,4197.0,4627.0,2781.0,2777.0,3916.0,4206.0,2758.0,2365.0,3006.0,0.0
3532,1.0,1.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,...,3073.0,3965.0,4961.0,3586.0,3179.0,3995.0,3442.0,4516.0,2668.0,0.0
3858,1.0,6.0,3.0,1.0,0.0,4.0,1.0,0.0,0.0,4.0,...,2517.0,3877.0,4989.0,3019.0,2615.0,3654.0,3877.0,3737.0,3329.0,0.0
528,1.0,2.0,2.0,2.0,3.0,2.0,0.0,2.0,1.0,2.0,...,1997.0,3179.0,4250.0,3041.0,3102.0,3822.0,3981.0,3556.0,3721.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,3.0,2.0,1.0,0.0,1.0,5.0,0.0,2.0,1.0,2.0,...,2800.0,3413.0,4569.0,3028.0,2421.0,3449.0,2877.0,3477.0,2556.0,0.0
4060,2.0,5.0,1.0,0.0,1.0,1.0,0.0,6.0,2.0,0.0,...,2847.0,2933.0,4149.0,3099.0,1914.0,3995.0,3233.0,4440.0,3541.0,0.0
1346,2.0,2.0,2.0,0.0,2.0,2.0,4.0,0.0,2.0,1.0,...,2802.0,4641.0,5293.0,3224.0,2681.0,4258.0,3652.0,4161.0,2741.0,0.0
3454,0.0,0.0,1.0,0.0,2.0,3.0,0.0,1.0,0.0,2.0,...,2152.0,3437.0,4279.0,3331.0,2885.0,4645.0,3949.0,4759.0,2962.0,0.0
3582,0.0,1.0,1.0,0.0,2.0,2.0,1.0,0.0,2.0,1.0,...,2405.0,4101.0,3907.0,3860.0,2287.0,4395.0,3150.0,4414.0,2889.0,0.0

In [53]:
#Build the models
best_model = model.get_random_forest_models(X_train_players, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6206
Max Depth:  10
Min Samples Per Leaf:  5

In [54]:
#What were the most important features?
best_features = pd.DataFrame(best_model.feature_importances_, X_train_players.columns)
best_features.sort_values(by = 0, ascending = False).head(10)

                                     0
totalGold_9                   0.020772
totalGold_2                   0.018935
totalGold_8                   0.016779
totalGold_4                   0.015249
totalGold_10                  0.014764
totalGold_1                   0.013880
totalDamageDoneToChampions_6  0.013619
xp_2                          0.013200
totalGold_7                   0.013120
gameDuration                  0.012908

# Will a KNN Model Improve Accuracy?

In [64]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

In [60]:
#First need to scale the data
#Create the scaler
scaler = MinMaxScaler()

#Fit and transform on train data
X_train_scaled = scaler.fit_transform(X_train)

In [72]:
#Build a function for KNN
def get_KNN_models(X_train_scaled, y_train, param_dict, cv = 5):
    """
    This function takes in scaled data and builds an optimized KNN classification model. 
    It will use the parameters specified in the param_dict to optimizie across.
    
    This function utilizes GridSearchCV.
    
    This function returns the best model and prints out its parameters and mean
    cross-validated accuracy.
    """
    #Create the KNN model
    clf = KNeighborsClassifier()
    
    #Create the GridSearchCV object
    grid = GridSearchCV(clf, param_dict, cv)
    
    #Fit the GridSearchCV object
    grid.fit(X_train_scaled, y_train)
    
    #Print the best model's score and parameters
    print('Mean Cross-Validated Accuracy: ', round(grid.best_score_, 4))
    print('Num Neighbors: ', grid.best_params_['n_neighbors'])
    print('Weights: ', grid.best_params_['weights'])
    
    #Return the best model
    return grid.best_estimator_

In [79]:
#Create a param_dict for KNN model
param_dict = {
    'n_neighbors': range(200, 500),
    'weights': ['uniform', 'distance']
}

In [80]:
#Test the function. Run it on the full X_train_scaled data set (Team and Player data)
best_model = get_KNN_models(X_train_scaled, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6254
Num Neighbors:  216
Weights:  uniform

# Can We Use Only Team Data and Maintain or Improve KNN Model Accuracy?

In [81]:
#Scale the data
X_train_team_data_scaled = scaler.fit_transform(X_train_team_data)

In [82]:
#build the models
best_model = get_KNN_models(X_train_team_data_scaled, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6301
Num Neighbors:  499
Weights:  distance

# Can We Use Only A Single Team's Data and Maintain or Improve KNN Model Accuracy?

In [83]:
#Scale the data
X_train_blue_team_scaled = scaler.fit_transform(X_train_blue_team)

In [84]:
#Build the models
best_model = get_KNN_models(X_train_blue_team_scaled, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6252
Num Neighbors:  229
Weights:  uniform

# Can We Only Use Individual Stats and Maintain or Improve KNN Model Accuracy?

In [85]:
#Scale the data
X_train_players_scaled = scaler.fit_transform(X_train_players)

In [86]:
#Build the models
best_model = get_KNN_models(X_train_players_scaled, y_train, param_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6103
Num Neighbors:  494
Weights:  uniform

# Try Using Josh C's Suggested Features for Both Random Forest and KNN Models

In [88]:
suggested_features = [
    'xp_1',
    'killsplayer_2',
    'killsplayer_4',
    'assistsplayer_5'
]

In [89]:
X_train_suggested = X_train.loc[:, suggested_features]
X_train_suggested

        xp_1  killsplayer_2  killsplayer_4  assistsplayer_5
3513  3224.0            2.0            1.0              2.0
1250  4474.0            2.0            3.0              5.0
3532  5415.0            1.0            3.0              2.0
3858  4093.0            3.0            5.0              4.0
528   4733.0            2.0            1.0              2.0
...      ...            ...            ...              ...
1593  4844.0            3.0            4.0              5.0
4060  3882.0            2.0            1.0              1.0
1346  2900.0            4.0            0.0              2.0
3454  4672.0            1.0            2.0              3.0
3582  4146.0            3.0            1.0              2.0

[3890 rows x 4 columns]

__Random Forest Classifier__

In [90]:
rf_dict = {
    'max_depth': range(1, 16),
    'min_samples_leaf': range(1, 16)
}

In [92]:
#Build the random forest models
best_model = model.get_random_forest_models(X_train_suggested, y_train, rf_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.5545
Max Depth:  5
Min Samples Per Leaf:  13

__KNN Classifier__

In [93]:
#Scale the data
X_train_suggested_scaled = scaler.fit_transform(X_train_suggested)

In [94]:
knn_dict = {
    'n_neighbors': range(200, 500),
    'weights': ['uniform', 'distance']
}

In [96]:
#Build the KNN models
best_model = get_KNN_models(X_train_suggested_scaled, y_train, knn_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.5573
Num Neighbors:  212
Weights:  uniform

# Can We Add Blue Team Stats and Improve Model Accuracy?

In [104]:
#Update cols_to_keep
cols_to_keep = list(X_train_blue_team.columns)
cols_to_keep

['BlueTeamDeaths',
 'BlueTeamGoldPerSec',
 'BlueTeamJungleMinionsKilled',
 'BlueTeamKills',
 'BlueTeamLevel',
 'BlueTeamMagicDamageDoneToChampions',
 'BlueTeamMinionsKilled',
 'BlueTeamPhysicalDamageDoneToChampions',
 'BlueTeamTimeEnemySpentControlled',
 'BlueTeamTotalDamageDoneToChampions',
 'BlueTeamTotalGold',
 'BlueTeamTrueDamageDoneToChampions',
 'BlueTeamWards',
 'BlueTeamAssists',
 'BlueTeamXp',
 'BlueTeamTotalGoldDifference',
 'BlueTeamMVPKills']

In [105]:
cols_to_keep.extend(suggested_features)

In [106]:
cols_to_keep

['BlueTeamDeaths',
 'BlueTeamGoldPerSec',
 'BlueTeamJungleMinionsKilled',
 'BlueTeamKills',
 'BlueTeamLevel',
 'BlueTeamMagicDamageDoneToChampions',
 'BlueTeamMinionsKilled',
 'BlueTeamPhysicalDamageDoneToChampions',
 'BlueTeamTimeEnemySpentControlled',
 'BlueTeamTotalDamageDoneToChampions',
 'BlueTeamTotalGold',
 'BlueTeamTrueDamageDoneToChampions',
 'BlueTeamWards',
 'BlueTeamAssists',
 'BlueTeamXp',
 'BlueTeamTotalGoldDifference',
 'BlueTeamMVPKills',
 'xp_1',
 'killsplayer_2',
 'killsplayer_4',
 'assistsplayer_5']

In [107]:
X_train_blue_team_suggested = X_train.loc[:, cols_to_keep]
X_train_blue_team_suggested

,BlueTeamDeaths,BlueTeamGoldPerSec,BlueTeamJungleMinionsKilled,BlueTeamKills,BlueTeamLevel,BlueTeamMagicDamageDoneToChampions,BlueTeamMinionsKilled,BlueTeamPhysicalDamageDoneToChampions,BlueTeamTimeEnemySpentControlled,BlueTeamTotalDamageDoneToChampions,...,BlueTeamTrueDamageDoneToChampions,BlueTeamWards,BlueTeamAssists,BlueTeamXp,BlueTeamTotalGoldDifference,BlueTeamMVPKills,xp_1,killsplayer_2,killsplayer_4,assistsplayer_5
3513,4,30,54,8,36,4418,192,6593,401302,11500,...,487,35,9,17886,1046,2.0,3224.0,2.0,1.0,2.0
1250,3,20,60,6,35,3617,226,9274,355801,13729,...,835,14,9,18575,1327,3.0,4474.0,2.0,3.0,5.0
3532,3,30,64,10,37,2008,227,10075,334801,12518,...,432,19,5,21106,4519,4.0,5415.0,1.0,3.0,2.0
3858,9,20,56,12,35,6012,213,10534,351805,18813,...,2262,29,9,18593,1433,5.0,4093.0,3.0,5.0,4.0
528,9,20,40,11,34,7679,188,7935,231642,16812,...,1197,12,10,18305,834,4.0,4733.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6,30,49,14,35,7577,207,12252,408303,21641,...,1809,18,10,18275,4619,5.0,4844.0,3.0,4.0,5.0
4060,11,30,44,4,32,7488,172,5356,352066,14220,...,1370,14,5,15977,-2111,2.0,3882.0,2.0,1.0,1.0
1346,8,30,56,8,36,2395,183,9920,199400,12844,...,526,14,8,18739,250,4.0,2900.0,4.0,0.0,2.0
3454,4,30,64,4,36,3184,228,8200,398893,11385,...,0,14,6,18604,1594,2.0,4672.0,1.0,2.0,3.0
3582,6,30,56,7,35,7919,201,6080,593243,15436,...,1434,13,5,18301,1977,3.0,4146.0,3.0,1.0,2.0

__Random Forest Classifier__

In [108]:
#Build random forest models
best_model = model.get_random_forest_models(X_train_blue_team_suggested, y_train, rf_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6262
Max Depth:  6
Min Samples Per Leaf:  11

In [111]:
#What were the most important features?
best_features = pd.DataFrame(best_model.feature_importances_, X_train_blue_team_suggested.columns)
best_features.sort_values(by = 0, ascending = False).head(10)

                                              0
BlueTeamTotalGoldDifference            0.293122
BlueTeamTotalGold                      0.089974
BlueTeamXp                             0.089161
BlueTeamDeaths                         0.072906
BlueTeamMinionsKilled                  0.050541
BlueTeamTotalDamageDoneToChampions     0.041559
BlueTeamPhysicalDamageDoneToChampions  0.041008
BlueTeamTimeEnemySpentControlled       0.038881
xp_1                                   0.038083
BlueTeamMagicDamageDoneToChampions     0.036327

__KNN Classifier__

In [109]:
#Scale the data
X_train_blue_team_suggested_scaled = scaler.fit_transform(X_train_blue_team_suggested)

In [112]:
#Build the KNN models
best_model = get_KNN_models(X_train_blue_team_suggested_scaled, y_train, knn_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.6201
Num Neighbors:  235
Weights:  uniform

# Can an AdaBoost Classifier Improve Model Accuracy?

In [126]:
#Set the params to optimize across
adaBoost_params = {
    'n_estimators': range(25, 101),
    'learning_rate': range(1, 11)
}

In [127]:
#Construct the model to use with adaBoost. Try Single Decision Tree
from sklearn.tree import DecisionTreeClassifier

model_to_boost = DecisionTreeClassifier(random_state = 123)

In [128]:
best_model = model.get_adaBoosted_model(X_train_blue_team, y_train, model_to_boost, adaBoost_params, cv = 5)

Mean Cross-Validated Accuracy:  0.5319
Num Estimators:  25
Learning Rate:  1

# Try Jared's Changes

In [131]:
#His function. I'm copying it here because I don't want to restart the whole notebook
def team_difference_stats(df):
    df['BlueTeamLevelDifference'] = df.BlueTeamLevel - df.RedTeamLevel
    df['BlueTeamXpDifference'] = df.BlueTeamXp - df.RedTeamXp
    df['BlueTeamWardDifference'] = df.BlueTeamWards - df.RedTeamWards
    #df['blueteam_win'] = df['winningTeam'] == 100
    df['BlueTeamDeathDifference'] = (df.deathsplayer_1 +
                                        df.deathsplayer_2 +
                                        df.deathsplayer_3 +
                                        df.deathsplayer_4 +
                                        df.deathsplayer_5) - (df.deathsplayer_6 +
                                        df.deathsplayer_7 +
                                        df.deathsplayer_8 +
                                        df.deathsplayer_9 +
                                        df.deathsplayer_10)
    df['BlueTeamminionKillDifference'] = df.BlueTeamJungleMinionsKilled - df.RedTeamJungleMinionsKilled
    df['BlueTeamDeathsDifference'] = df.BlueTeamDeaths - df.RedTeamDeaths
    df['BlueTeamMagicDmgDifference'] = df.BlueTeamMagicDamageDoneToChampions - df.RedTeamMagicDamageDoneToChampions
    df['BlueTeamPhysicalDmgDifference'] = df.BlueTeamPhysicalDamageDoneToChampions - df.RedTeamPhysicalDamageDoneToChampions
    df['BlueTeamTrueDmgDifference'] = df.BlueTeamTrueDamageDoneToChampions - df.RedTeamTrueDamageDoneToChampions
    df['BlueTeamTotalDmgDifference'] = df.BlueTeamTotalDamageDoneToChampions - df.RedTeamTotalDamageDoneToChampions
    df['BlueTeamTotalMinionsMonstersDifference'] = ((df.BlueTeamMinionsKilled + df.BlueTeamJungleMinionsKilled) - 
                                    (df.RedTeamMinionsKilled + df.RedTeamJungleMinionsKilled))
    df['BlueTeamTimeCCingDifference'] = df.BlueTeamTimeEnemySpentControlled - df.RedTeamTimeEnemySpentControlled
    df['BlueteamWardDifference'] = df.BlueTeamWards - df.RedTeamWards
    df['BlueteamAssistDifference'] = df.BlueTeamAssists - df.RedTeamAssists
    return df

In [132]:
#Apply jared's function to X_train 
X_train_jared = team_difference_stats(X_train)
X_train_jared

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,BlueTeamminionKillDifference,BlueTeamDeathsDifference,BlueTeamMagicDmgDifference,BlueTeamPhysicalDmgDifference,BlueTeamTrueDmgDifference,BlueTeamTotalDmgDifference,BlueTeamTotalMinionsMonstersDifference,BlueTeamTimeCCingDifference,BlueteamWardDifference,BlueteamAssistDifference
3513,0.0,1.0,0.0,1.0,1.0,4.0,2.0,1.0,0.0,0.0,...,10,-4,-774,1105,-418,-88,12,110674,-173,7
1250,0.0,1.0,0.0,0.0,3.0,0.0,5.0,0.0,3.0,0.0,...,8,-3,-902,2903,385,2383,41,76997,2,4
3532,0.0,1.0,1.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,...,12,-7,-2636,1253,-206,-1590,35,-65221,5,2
3858,0.0,1.0,6.0,3.0,1.0,0.0,4.0,1.0,0.0,0.0,...,-8,-3,-583,4963,1515,5896,34,-24134,13,-2
528,0.0,1.0,2.0,2.0,2.0,3.0,2.0,0.0,2.0,1.0,...,-15,-2,-2197,2935,145,880,-24,-28320,-181,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,0.0,3.0,2.0,1.0,0.0,1.0,5.0,0.0,2.0,1.0,...,11,-8,2043,4113,464,6621,64,-31773,8,3
4060,0.0,2.0,5.0,1.0,0.0,1.0,1.0,0.0,6.0,2.0,...,-4,7,2682,-5811,318,-2808,-44,28761,1,-8
1346,0.0,2.0,2.0,2.0,0.0,2.0,2.0,4.0,0.0,2.0,...,5,0,-524,622,-446,-348,-17,-5678,4,-1
3454,0.0,0.0,0.0,1.0,0.0,2.0,3.0,0.0,1.0,0.0,...,4,0,252,-135,-560,-445,14,93964,-1,3
3582,0.0,0.0,1.0,1.0,0.0,2.0,2.0,1.0,0.0,2.0,...,8,-1,3250,-3849,1032,432,20,223895,0,0

__Random Forest Classifier__

In [133]:
#Build the models
best_model = model.get_random_forest_models(X_train_jared, y_train, rf_dict, cv = 5)

Mean Cross-Validated Accuracy:  0.635
Max Depth:  8
Min Samples Per Leaf:  15