In [4]:
import pandas as pd

In [6]:
final_df = pd.read_csv('final_15.csv')
df = pd.read_csv('min_15_start_1500_end_1515_.csv')
df2 = pd.read_csv('new_extracted_data_chavez_time_15.csv')
df4 = pd.read_csv('pro_players_15min')
df5 = pd.read_csv('new_extracted_data_Jared_time_15.csv')
df6 = pd.read_csv('new_extracted_data_smith_time_15.csv')
df7 = pd.read_csv('new_extracted_data_bryant_time_15.csv')

In [ ]:
#df = pd.concat([df, df2], axis=0, ignore_index=True)

In [ ]:
#df = pd.concat([df, df3], axis=0, ignore_index=True)

In [3]:
#df = pd.concat([df, df4], axis=0, ignore_index=True)

NameError: name 'df4' is not defined

In [7]:
df = pd.concat([final_df, df5], axis=0, ignore_index=True)

In [8]:
df = pd.concat([df, df6], axis=0, ignore_index=True)

In [ ]:
new_extracted_data_bryant_time_15.csv

In [ ]:
df = pd.concat([df, df6], axis=0, ignore_index=True)

In [9]:
df = df.drop(columns=['Unnamed: 0'])

In [10]:
df.to_csv('final_15.csv')

In [11]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_2,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,waterdragon_team200,airdragon_team200
0,0.0,2.0,5.0,0.0,2.0,3.0,10.0,0.0,3.0,2.0,...,6507.0,6115.0,6528.0,3903.0,6288.0,6278.0,8847.0,4759.0,NaN,NaN
1,0.0,1.0,4.0,3.0,1.0,2.0,3.0,3.0,3.0,2.0,...,5691.0,5602.0,4330.0,4843.0,7470.0,7378.0,6980.0,5221.0,1.0,NaN
2,0.0,1.0,5.0,1.0,1.0,5.0,10.0,4.0,1.0,2.0,...,8002.0,7493.0,4809.0,4295.0,7355.0,6182.0,5781.0,5131.0,NaN,NaN
3,0.0,3.0,4.0,6.0,5.0,2.0,1.0,5.0,2.0,2.0,...,4066.0,7244.0,5685.0,7173.0,4875.0,4112.0,5390.0,5733.0,1.0,NaN
4,0.0,0.0,5.0,1.0,0.0,0.0,5.0,1.0,3.0,1.0,...,5679.0,6994.0,4862.0,4497.0,7593.0,6426.0,7441.0,5094.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5246,0.0,5.0,4.0,1.0,4.0,5.0,9.0,1.0,2.0,5.0,...,4770.0,7985.0,5581.0,4337.0,6628.0,7624.0,7582.0,4610.0,1.0,NaN
5247,0.0,0.0,3.0,2.0,9.0,2.0,1.0,1.0,2.0,4.0,...,5656.0,4517.0,5996.0,5804.0,9099.0,6264.0,6286.0,5354.0,NaN,1.0
5248,0.0,1.0,6.0,0.0,3.0,0.0,7.0,2.0,2.0,1.0,...,5116.0,6002.0,6354.0,4155.0,8305.0,5582.0,7943.0,4521.0,NaN,NaN
5249,0.0,0.0,4.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,...,7325.0,7035.0,4899.0,4521.0,8070.0,5971.0,5491.0,6259.0,NaN,NaN
5250,2.0,3.0,2.0,0.0,0.0,1.0,4.0,2.0,2.0,1.0,...,6126.0,8223.0,4908.0,4572.0,7570.0,6777.0,5406.0,5873.0,NaN,NaN