In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('min_15_start_1500_end_1515_.csv')
df2 = pd.read_csv('new_extracted_data_chavez_time_15.csv')
df3 = pd.read_csv('min_15_start_3700_end_4173_.csv')
df4 = pd.read_csv('pro_players_15min')

In [3]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

In [4]:
df = pd.concat([df, df3], axis=0, ignore_index=True)

In [5]:
df = pd.concat([df, df4], axis=0, ignore_index=True)

In [8]:
df = df.drop(columns=['Unnamed: 0'])

In [10]:
df.to_csv('final_15.csv')

In [11]:
df

,airdragon_team100,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,xp_2,xp_3,xp_4,xp_5,xp_6,xp_7,xp_8,xp_9,waterdragon_team200,airdragon_team200
0,0.0,2.0,5.0,0.0,2.0,3.0,10.0,0.0,3.0,2.0,...,6507.0,6115.0,6528.0,3903.0,6288.0,6278.0,8847.0,4759.0,NaN,NaN
1,0.0,1.0,4.0,3.0,1.0,2.0,3.0,3.0,3.0,2.0,...,5691.0,5602.0,4330.0,4843.0,7470.0,7378.0,6980.0,5221.0,1.0,NaN
2,0.0,1.0,5.0,1.0,1.0,5.0,10.0,4.0,1.0,2.0,...,8002.0,7493.0,4809.0,4295.0,7355.0,6182.0,5781.0,5131.0,NaN,NaN
3,0.0,3.0,4.0,6.0,5.0,2.0,1.0,5.0,2.0,2.0,...,4066.0,7244.0,5685.0,7173.0,4875.0,4112.0,5390.0,5733.0,1.0,NaN
4,0.0,0.0,5.0,1.0,0.0,0.0,5.0,1.0,3.0,1.0,...,5679.0,6994.0,4862.0,4497.0,7593.0,6426.0,7441.0,5094.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,0.0,2.0,0.0,1.0,0.0,0.0,4.0,1.0,0.0,4.0,...,5731.0,6601.0,7011.0,4641.0,7197.0,5550.0,7684.0,3858.0,NaN,NaN
2435,0.0,1.0,4.0,2.0,3.0,1.0,3.0,3.0,2.0,1.0,...,4541.0,6291.0,4505.0,4741.0,7557.0,6900.0,5878.0,5399.0,NaN,2.0
2436,0.0,0.0,4.0,2.0,1.0,2.0,4.0,0.0,0.0,1.0,...,5409.0,8599.0,5279.0,5033.0,5470.0,7028.0,6207.0,5132.0,NaN,NaN
2437,1.0,0.0,3.0,0.0,0.0,4.0,6.0,0.0,1.0,1.0,...,4801.0,6176.0,5936.0,5683.0,6665.0,5435.0,8308.0,4251.0,NaN,NaN
2438,0.0,7.0,8.0,1.0,2.0,2.0,5.0,0.0,3.0,0.0,...,5771.0,8273.0,5881.0,3978.0,8114.0,5430.0,5986.0,5891.0,NaN,NaN